@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html { @apply bg-ivory text-coal; }
  body { @apply font-sans antialiased; }
  h1,h2,h3,h4 { @apply font-display; }
}
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }